.Feature {
	padding: .5rem 2rem;
	margin-top: 1rem;
}

@media (min-width: 640px) {
	.Features {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.Feature + .Feature {
		border-left: 1px solid currentColor;
	}
}