.Mate {
	display: grid;
	grid-gap: .5rem;
	grid-template:
		"Mate__linkedin	Mate__name		Mate__photo" auto
		"		.		Mate__position	Mate__photo" auto
		/ 2rem auto;

	text-align: start;
}

.Mate__name {
	grid-area: Mate__name;
}

.Mate__position {
	grid-area: Mate__position;
}

.Mate__linkedin {
	grid-area: Mate__linkedin;

	color: white;
}

.Mate__photo {
	grid-area: Mate__photo;

	max-width: 5rem;
}