@import url('https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Mono&subset=cyrillic');

:root {
	--color__primary: #6666FF;
}

* {
	box-sizing: border-box;
}

a,
img,
span {
	display: inline-block;
}

body {
	margin: 0;
	padding: 0;

	font-family: 'Ubuntu Mono', monospace, system-ui;

	text-align: center;

	color: white;

	scroll-behavior: smooth;
}

a:not(.plain) {
	position: relative;
	overflow: hidden;
	z-index: 1;

	padding: .25em .5em;

	font-weight: bold;
	text-decoration: none;

	color: inherit;
}

a:not(.plain)::after {
	/* --gap: -.5em; */
	--gap: 0;

	content: '';
	position: absolute;
	z-index: -1;
	top: var(--gap);
	right: var(--gap);
	bottom: var(--gap);
	left: var(--gap);
	background: var(--color__primary);

	transform: translateY(101%);
	transition: transform .3s;
}

a:not(.plain):hover::after {
	transform: translateY(50%);
}

img {
	max-width: 100%;
}

p,
ul {
	line-height: 2;
}

ul {
	text-align: start;
}

.Content {
	padding: 1rem;
}
